<h1>{{_username}}</h1>
<nav>

    <mat-list>
        <mat-list-item><button mat-stroked-button color='primary' home-button style="width: 100%;" routerLink="/ns" routerLinkActive="active">
                <mat-icon mat-list-icon>people</mat-icon>my community
            </button></mat-list-item>

        <mat-list-item> <button mat-stroked-button color='primary' home-button style="width: 100%;" routerLink="/points" routerLinkActive="active">
                <mat-icon>money</mat-icon>loyalty points
            </button></mat-list-item>

            <mat-list-item> <button mat-stroked-button color='primary' home-button style="width: 100%;" routerLink="/products" routerLinkActive="active">
                <mat-icon>shopping_cart</mat-icon>products
            </button></mat-list-item>

            <mat-list-item> <button mat-stroked-button color='primary' home-button style="width: 100%;" routerLink="/products" routerLinkActive="active">
                <mat-icon>attach_money</mat-icon>investments
            </button></mat-list-item>

    </mat-list>
</nav>