
    <mat-card-header>
        
            <mat-card-title><mat-icon mat-card-icon>money</mat-icon>investments</mat-card-title>
            <!-- <mat-card-subtitle>community peers who use bonviva</mat-card-subtitle> -->
        </mat-card-header>
        <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
        <mat-card-content>
    
            <p>cease opportinities through community investments
            </p>
    
    
        </mat-card-content>
        <mat-card-content>
            <mat-list>
                <!-- <h3 mat-subheader>my community peers:</h3> -->
                
            <h3 mat-subheader>categories:</h3>
    
                <mat-list-item>
                    <mat-icon mat-list-icon>store_mall_directory</mat-icon>
                    <h4 mat-line>real estate</h4>
                </mat-list-item>

                <mat-list-item>
                        <mat-icon mat-list-icon>nature</mat-icon>
                        <h4 mat-line>ESG funds</h4>
                    </mat-list-item>

                    <mat-list-item>
                            <mat-icon mat-list-icon>note</mat-icon>
                            <h4 mat-line>other</h4>
                        </mat-list-item>
    
            </mat-list>
        </mat-card-content>
       
    
     
            