@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row" ng-controller="indexCtrl">
    <div class="col-md-4">
        <h2>Search user</h2>
        <p>Countdown: {{countdown}}</p>
        <form ng-submit="search(username)">
            <input type="search" class="form-control" required placeholder="Search watermark" ng-model="username" />
            <input type="submit" class="btn btn-default" value="Search" />
        </form>
        <div>
            Sorting by:
            <select ng-model="repoSortOrder" class="btn btn-default">
                <option class="btn btn-default" value="+name">Name ascending</option>
                <option class="btn btn-default" value="-stargazers_count">Stars descending</option>
                <option class="btn btn-default" value="+language">Language</option>
            </select>
        </div>
    </div>
    <div ng-include="'userdetails'" ng-show="user" ng-hide="error"/>
    <div class="col-md-4" ng-show="error">
        <h2>Error</h2>
        <p>{{error}}</p>
    </div>
</div>