
    <mat-card-header>
        
            <mat-card-title><mat-icon mat-card-icon>shopping_cart</mat-icon>products</mat-card-title>
            <!-- <mat-card-subtitle>community peers who use bonviva</mat-card-subtitle> -->
        </mat-card-header>
        <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
        <mat-card-content>
    
            <p>Credit Suisse partners with other companies to offer a discounted list of products
            </p>
    
    
        </mat-card-content>
        <mat-card-content>
            <mat-list>
                <!-- <h3 mat-subheader>my community peers:</h3> -->
                
            <h3 mat-subheader>categories:</h3>
    
                <mat-list-item>
                    <mat-icon mat-list-icon>whatshot</mat-icon>
                    <h4 mat-line>hot products</h4>
                </mat-list-item>

                <mat-list-item>
                        <mat-icon mat-list-icon>loop</mat-icon>
                        <h4 mat-line>frequently bought</h4>
                    </mat-list-item>

                    <mat-list-item>
                            <mat-icon mat-list-icon>library_books</mat-icon>
                            <h4 mat-line>recommended products</h4>
                        </mat-list-item>
    
            </mat-list>
        </mat-card-content>
       
    
     
            