<?xml version="1.0" encoding="utf-8" ?>
<!-- 
    Note: Add entries to the App.config file for configuration settings
    that apply only to the Test project.
-->
<configuration>
	<configSections>
		<section name="couchbase" type="Couchbase.Configuration.CouchbaseClientSection, Couchbase"/>
	</configSections>

	<couchbase>
		<servers bucket="beer-bucket" bucketPassword="">
			<add uri="http://127.0.0.1:8091/pools"/>
		</servers>
	</couchbase>

    <appSettings>

    </appSettings>

    <connectionStrings>

    </connectionStrings>
</configuration>
