@{
    ViewBag.Title = "About";
}

<p>@ViewBag.Title</p>

<article>
    <p>
        This is a self-made blog engine - very basic indeed,
        it doesn't even have anything for better SEO - built primarily
        to play around with ASP.NET MVC4, Twitter Bootstrap, EF CodeFirst
        and hosted on Windows Azure. Feel Free to inspect the source code
        on <a href="https://github.com/danyandresh/Research/tree/mvc4">Github</a>.
    </p>
</article>

<aside>
    <p>Goodies</p>
    <p>
        <a href="https://www.youtube.com/playlist?list=PLMvLDJ7usmZB-Mu4kNB-Qtr_1serQjfti">
            Great bootstrap series by Coder's Guide
        </a>
        <a href="http://pluralsight.com/training/Player?author=scott-allen&name=mvc4-building-m6-ajax&mode=live&clip=0&course=mvc4-building">
            A free tutorial on MVC4 by Scott Allen from PluralSight
        </a>
    </p>
</aside>