@{
    ViewBag.Title = "Contact";
}

<p>@ViewBag.Title.</p>

<section>
    <p>
        <span>Github:</span>
        <span><a href="https://github.com/danyandresh">github.com/danyandresh</a></span>
    </p>
</section>
