@model Tuple<IPagedList, string, string>

@{
    var pagedList = Model.Item1;
    var navigatePage = Model.Item2;
    var updateTarget = Model.Item3;
}


<div class="clearfix"></div>
<div class="input-group-lg pull-right pager" data-domeapp-target="#@updateTarget" data-domeapp-pager="@Url.Action(navigatePage)">
        @if (pagedList.HasPreviousPage)
        {
                @Html.ActionLink("Previous page", navigatePage, new { toPage = pagedList.CurrentPage - 1 }, new { @class = "btn btn-info" })
        }

        <span>@pagedList.CurrentPage/@pagedList.TotalPages</span>

        @if (pagedList.HasNextPage)
        {
                @Html.ActionLink("Next page", navigatePage, new { toPage = pagedList.CurrentPage + 1 }, new { @class = "btn btn-info" })
        }
</div>
<div class="clearfix"></div>